body{
	overflow-x: hidden;
}

#header_wrap{
	padding-top: 25px;
	padding-left: 25px;
}

#header_title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#header_image{
	height: 50px;
	width: 50px;
}

#forkme_banner{
	position: fixed;
	background: url('../img/blacktocat.png') #FFFFFF no-repeat;
	background-size: contain;
	padding-right: 10px;
}

#forkme_banner:hover{
	box-shadow: 0 0 15px rgba(255, 255, 255, 1);
	text-decoration: none;
}

#github_text{
	padding-left:35px;
	color: black;
}